*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    background-color: rgba(234, 187, 236, 0.2);
    z-index: 9999;
}

header:hover {
    background-color: rgba(234, 187, 236, 0.5);
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

header nav ul li:hover {
    cursor: pointer;
    background-color: #fff;
}

header nav ul li img {
    height: 50px;
    width: 50px;
}

#home {
    background-color: #1D002E;
    color: white;
}

#home:hover {
    background-color: #fff;
    color: #1D002E;
}

.mostrarMenu {
    left: 0%;
}

.ocultarMenu {
    left: -400%;
}

#menu {
    display: none;
}


@media (max-width: 870px) {
    
    header {
        height: 60px;
    }
    
    header nav ul li img {
        height: 30px;
        width: 30px;
    }

    header nav ul li {
        padding: 5px;
    }
}

@media (max-width: 800px) {

    #menu {
        display: flex;
        height: 60px;
        width: 60px;
        position: absolute;
        left: 5px;
    }

    #home {
        display: flex;
        height: 60px;
        width: 60px;
        position: absolute;
        right: 5px;
    }*

    header {
        height: 60px;
        display: flex;
        justify-content: center;
    }

    header nav ul{
        display: flex;
        align-items: center;
    }
    header nav ul {
        flex-direction: column;
        align-items: center
    }

    header nav ul .item {
        width: 100vw;
        position:relative;
        top: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 5px;
        background-color: rgba(234, 187, 236, 0.2);

        /*left: -300%*/;
    }
}
